
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #383636; 
}

header{
    background-color: #8ec28e;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.search-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 12px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.search-container h2 {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    border-radius: 12px;
    width: 78%;
    margin-bottom: 20px;

}

.input-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="date"]{
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="checkbox"] {
    height: 30%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #8ec28e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

form1 .form-image {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }
  
  form1 .form-image img{
    width: 10%;
    height: 10%;
  }

.loading {
    display: none;
    text-align: center;
    margin-top: 20px;
    position: relative;
}


.loading::before {
    content: "";
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #007BFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 2s linear infinite; 
    z-index: 1;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.flight-list {
    margin-top: 20px;
}

.flight-item {
    border: 1px solid #ccc;
    border-radius: 12px; 
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.flight-item h3 {
    margin-top: 0;
}

.airport-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    max-height: 100px;
    overflow-y: auto;
}

.airport-list li {
    padding: 5px 10px;
    cursor: pointer;
}

.airport-list li:hover {
    background-color: #f0f0f0;
}