/* Temel stil tanımları */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4a4766; /* Arka plan rengi */
}

header {
    background-color: #ffba67;;
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    max-width: 800px;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
}

.search-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 12px; /* Border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

form1 .form-image {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

form1 .form-image img{
  width: 10%;
  height: 10%;
}

input[type="text"],
input[type="date"]{
    width: 33%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="checkbox"] {
  height: 30%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
    background-color: #ffba67;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

table {
    border: 1px solid black;
    border-radius: 12px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    border-collapse: separate;
    border-spacing: 10px;
    background-color: whitesmoke;
    padding-bottom: 30px;
}

th {
    color: rgb(9, 10, 10);
}

tr {
    align-items: center;
}

td {
    color: rgb(3, 3, 3);
}

caption {
  display: flex;
  color: rgb(12, 12, 13);
  margin-bottom: 0px;
}

.flight-list {
    margin-top: 20px;
    margin-bottom: 40px;
}

/* Uçuş sonuçları için stiller */
.flight-item {
    border: 1px solid #ccc;
    border-radius: 12px; /* Border radius */
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.flight-item h3 {
    margin-top: 0;
}

/* Havaalanları için stil */
.airport-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    max-height: 100px;
    overflow-y: auto;
}

.airport-list li {
    padding: 5px 10px;
    cursor: pointer;
}

.airport-list li:hover {
    background-color: #f0f0f0;
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
  
    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
  }
  
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }